# Logs
*.log
*-debug.log*

# Editors
.vscode/
.idea/

# Dependencies
node_modules/

# Build Output
public/vendor/*
!public/vendor/.gitkeep
public/app.js
public/styles.css

# Secrets
.env
serviceAccountKey.json
