.app {
	display: flex;
	height: 100vh;
	flex-flow: column nowrap;
	overflow: hidden;
}

.editor-list {
	display: flex;
	flex: 1 1;
	flex-flow: row nowrap;
}


.player-view {
	display: flex;
	flex: 1 1;
	flex-flow: row nowrap;
	
	&__slot {
		width: calc(($frame-width / 2) - 33.33%);
	}
	
	&__player {
		height: 50%;
		
		&.current { height: 100%; }
	}
}