.editor-group {
    display: flex;
    flex: 1;
    flex-flow: row nowrap;

    &:not(:last-child) {
        border-bottom: 2px solid $outline-color;
    }

    .editor:not(:first-child) {
        border-left: 2px solid $outline-color;
    }
}
