.editor {
    position: relative;
    display: flex;
    flex: 1 1;
    flex-flow: column nowrap;

    background-color: $bg-color;

    &:not(:first-child) {
        border-left: 2px solid $outline-color;
    }

    &__frame {
        position: relative;
        flex: 1 1;
    }

    &__editor {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }

    &__status {
        margin: .5rem;
    }
}

.editor-header {
    display: flex;
    margin: 0 1rem;
    height: 2.25rem;
    align-items: baseline;

    &--red {
        color: $red-team-color;
    }

    &--blue {
        color: $blue-team-color;
    }

    &__username {
        margin-right: auto;
        font-size: 1rem;
        line-height: 2.25rem;
    }

    &__language {
        align-self: baseline;
    }
}
