.modal {
    margin: 4rem;
    padding: 2.5rem;
    overflow: hidden;
    cursor: default;

    border: 2px solid $outline-color;
    background-color: $bg-color;

    &__overlay {
        z-index: 100;
        position: absolute;
        display: flex;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;

        background: rgba($bg-color, 0.75);
    }
}
