.play-view {
    display: flex;
    height: 100%;
    flex-flow: row nowrap;

    &__column {
        display: flex;
        height: 100%;
        flex: 1;
        flex-flow: column nowrap;

        &--editor {
            max-width: 45rem;
        }
    }

    &__site-viewer {
        display: flex;
        flex: 6;
    }

    &__editor-group {
        display: flex;
        flex: 4;
    }
}
