.site-viewer {
    position: relative;
    flex: 1;
    overflow: hidden;

    &__iframe {
        width: 100%;
        height: 100%;
    }

    &__reload {
        z-index: 1;
        position: absolute;
        right: 16px;
        bottom: 16px;
    }
}
