.view {
    display: flex;
    height: 100%;
    flex-flow: column nowrap;

    &--split {
        flex-flow: row nowrap;
    }

    &__column {
        display: flex;
        flex-flow: column nowrap;
        flex: 1;

        &:not(:last-child) {
            border-right: 2px solid $outline-color;
        }

        &--editor {
            max-width: 45rem;
        }
    }

    &__row {
        display: flex;
        flex: 1;

        &:not(:last-child) {
            border-bottom: 2px solid $outline-color;
        }
    }
}
