*, *:after, *:before {
    box-sizing: inherit;
}

html {
    font-size: $unit;
}

body {
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;

    font-family: $base-font;
    line-height: 1.3;

    color: $base-color;
    background-color: $bg-color;
}

select,
button {
    font-family: $base-font;
    font-size: 0.875rem;
    border: 2px solid $border-color;

    color: $base-color;
    background-color: $bg-color;

    &:hover {
        border-color: $base-color;
    }

    &:focus {
        outline: none;
    }
}

button {
    padding: 0.25rem 0.5rem;
    cursor: pointer;

    &:active {
        color: $bg-color;
        background-color: $base-color;
    }
}
