*, *:after, *:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    box-sizing: border-box;

    font-family: $text-font;
    font-size: 16px;
    line-height: 1.5;

    color: $text-color;
    background-color: $bg-color;
}
