$unit: 16px;

$bg-color: #0b0c11;

$border-color: #303745;
$border: 2px solid $border-color;

$base-color: #fff;
$base-font: 'Roboto', sans-serif;

$blue-team-color: #00c9ff;
$red-team-color: #ff007d;
