// Override Monaco styles that are not exposed through the API.

.monaco-scrollable-element > .scrollbar > .slider {
    background: rgba(#546178, 0.10) !important;

    &:hover {
        background: rgba(#546178, 0.20) !important;
    }

    &.active {
        background: rgba(#546178, 0.5) !important;
    }
}

.monaco-scrollable-element > .invisible.fade {
    transition: opacity 150ms linear !important;
}
